{% extends 'layout/base.html.twig' %}

{% block project_active %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            And here are my projects outside professional work. Some are not available, simply contact me for me to give you access.
        </div>
    </div>

    {% for project_chunk in projects %}
        <div class="row">
            {% for project in project_chunk %}
                <div class="col s6">
                    <div class="card blue-grey lighten-2">
                        <div class="card-content white-text">
                            <span class="card-title project-title"><a href="{{ project.getUrl }}" target="_blank">{{ project.getTitle }}</a></span>
                            <p>{{ project.getDescription }}</p>
                        </div>
                        <div class="card-action left-align">
                            {% for tag in project.getTags %}
                                <div class="chip">{{ tag.getName }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}